@page "/IdontRememberMyPasswordEmailSent"


    <div class="container">
        <div class="card mb-3">

                <div class="card-body">
                    <h1>Password Reset Email Sent</h1>

                    <div class="alert alert-info">
                        We have emailed the address you provided. Please
                        check your email and click on the link to complete your password reset.
                    </div>

                </div>
                
        </div>
    </div>
