@page "/RegisterEmailSentForJoinVerification"


    <div class="container">
        <div class="card mb-3">

                <div class="card-body">
                    <h1>Confirming Your Organization</h1>

                    <div class="alert alert-info">
                        We have emailed the owner of the organization to confirm your request to join the organization. 
                        Once confirmed, you will receive an email notification.
                    </div>

                </div>
                
        </div>
    </div>
