@page "/RegisterEmailSentForVerification"


    <div class="container">
        <div class="card mb-3">

                <div class="card-body">
                    <h1>Verify your registration</h1>

                    <div class="alert alert-info">
                        To ensure that your information is correct we have emailed the address you provided. Please
                        check your email and click on the link to verify your registration.
                    </div>

                </div>
                
        </div>
    </div>
