@page "/RegisterUserCheckFailed"

    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h1>You are already registered!</h1>

                <div class="alert alert-warning">
                    Someone on your team has already registered the email address you provided. Please keep
                    an eye on your inbox for an invitation.
                </div>
            
            </div>
            
        </div>
    </div>
